@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

main {
  overflow: hidden;
}

/* // ========================================================================== */
/* // Global */
/* // ========================================================================== */
.left-side {
  position: relative;
}

.right-side {
  position: relative;
}

/* // ========================================================================== */
/* // Mobile */
/* // ========================================================================== */
@media (min-width: 0px) {
}

/* // ========================================================================== */
/* // Large Mobile */
/* // ========================================================================== */
@media (min-width: 640px) {
}

/* // ========================================================================== */
/* // Tablet */
/* // ========================================================================== */
@media (min-width: 768px) {
}

/* // ========================================================================== */
/* // Desktop */
/* // ========================================================================== */
@media (min-width: 1024px) {
}

/* // ========================================================================== */
/* // Large Desktop */
/* // ========================================================================== */
@media (min-width: 1280px) {
}

/* // ========================================================================== */
/* // HD Desktop */
/* // ========================================================================== */
@media (min-width: 1536px) {
}
